.button {
  width: fit-content;
  background-color: var(--dark-blue);
  color: var(--white);
  padding: .5rem 1rem .5rem .5rem;
  transition: .15s;
  font-weight: normal;

  i {
    font-size: 1.2rem;
  }

  &:hover {
    background-color: var(--red-500);
  }
}