.button {
  width: fit-content;
  background-color: var(--dark-blue);
  color: var(--white);
  padding: .7rem 1rem .5rem .5rem;
  transition: .15s;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  align-items: top;

  i {
    font-size: 1.2rem;
    margin-right: .5rem;
  }

  &:hover {
    background-color: var(--red-500);
  }
}