.container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .sidebar {
    position: relative;
    width: 345px;
    min-width: 280px;
    overflow-y: hidden;
    background-color: var(--sidebar);
  }

  .contentContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "dashboardHeader"
                        "content";
    background-color: var(--content);
  }

  .header {
    display: flex;
    justify-content: space-between;
    grid-area: dashboardHeader;
    background-color: var(--white);
    border-bottom: var(--border-light);
    box-shadow: var(--box-shadow);
    padding: 1rem 2rem;
    
    .reload {
      display: flex;
      gap: .5rem;
      height: 1.8rem;
      width: auto;
      padding: .3rem 1rem 0 1rem;
      font-size: .9rem;
      border-radius: var(--rounded-3xl);
      background-color: var(--sidebar);
      color: var(--white);
      cursor: pointer;
      transition: filter .2s;

      i {
        font-size: 1.1rem;
        font-weight: thin;
      }

      &:hover {
        filter: brightness(.8);
      }
    }
  }

  .content {
    margin: 1rem 2rem;
    overflow-y: hidden;
    overflow-x: scroll;
  }
}