.container {
  width: 370px;
 

  .slot {
    display: block;
    width: 100%;
    margin-bottom: .5rem;
   
    input[type=checkbox] {
      float: left;
      line-height: 1.5rem;
      height: 1.5rem;
      width: 1.5rem;
      margin: auto;
      padding: 0px;
      background-color: var(--white);
      border-radius: 0px;
      border: var(border-light);
    }
  
    label {
      margin-left: .5rem;
      line-height: 1.5rem;
    }

  }

}